---
import BaseLayout from "../layouts/BaseLayout.astro";
import TablePersona from "../components/persona";
const pageTitle = "Persona 5 Royal";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Objective</h2>
    <p>The plan for this was to showcase that I can write a basic app.</p>
    <p>I wanted to create a database that had a select dropdown filter on a specific column my results on a game called Persona 5 Royal</p>
    <p>The basics of this game is that the main character can use powers from a mask, called a persona, which helps them progress through the game.</p>
    <p>I wanted to have a list of all the available persona and what their starting level was to help me keep track of whome I needed easier.</p>
    <h2>My plan</h2>
    <p>My basic plan was as follows:</p>
    <li>Make a database with data I required</li>
    <li>Put everything onto a api</li>
    <li>Have astro show my base data</li>
    <li>Add the select dropdown</li>
    <h2>The blueprint I went for was the following</h2>
    <img src='/images/BaseBlueprint.jpg' />
    <h2>Learning outcomes</h2>
    <p>During my time I learnt alot on how to use sqalchemy and astro. I also started learning Power Bi basics and terraform</p>
    <p>I had 3 difficulties within this project</p>
    <li>Getting this completed while getting/recovering from COVID</li>
    <li>Learning sqalchemy nicely</li>
    <li>Using react within Astro</li>
    <p>I have not been able to add this to AWS at this time.</p>
    <TablePersona client:only="react" />
</BaseLayout>